[Desktop Entry]
Version=1.2.1
Type=Application
Name=tide42
GenericName=Terminal IDE
Comment=A custom tmux + nvim IDE with IPython and TermiC support
Exec=tide42
Icon=tide42
Terminal=true
Categories=Development;TerminalEmulator;Utility;
StartupNotify=false
Name[en_US]=tide42

